body{
    background: none; 
    height: unset;
} 

#container{
    width: 100%; 
    text-align: center; 
    margin-top: 50px;
}

#tbl{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

#ss{
    width: 100%;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}
